<h1 class="content-header">🤓 about me</h1>
<p>
  I am an engineer who loves to create.
</p>
<p>
  I am motivated to learn new technologies, particularly in front-end development, because it combines art and engineering. I also have an analytical mind and data-driven decision making abilities.
</p>
<p>
  In my current role at <a href="https://pepperdata.com">Pepperdata</a>, I create data-visulization tools to optimize for big data cluster performance.
</p>
<p>
  Reach me at <a href="mailto:achhunna@gmail.com">achhunna@gmail.com</a>.
</p>
