.custom-header {
  height: 100vh;
  position: relative;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
a:link, a:visited {
  color: #aaa;
}
.container p {
  text-align: left;
}
@media only screen and ( min-width: 768px ) {
  .container p {
    margin: 25px 50px;
  }
}
