body {
  font-size: 16px;
}
.center-parent {
  height: 100vh;
  position: relative;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
a:link, a:visited {
  color: #aaa;
}
.container p {
  text-align: left;
  margin: 20px 10px;
}
.content-header {
  margin: 40px;
}
.back {
  text-align: center;
  margin: 20px;
}
@media only screen and ( min-width: 768px ) {
  .container p {
    margin: 25px 50px;
  }
}
