<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="custom-header text-center">
  <div class="container">
    <h1>about me</h1>
    <p>
      I am an engineer who loves to create beautiful art.
    </p>
    <p>
      I am motivated to learn new technologies, particularly in front-end development because it sits between art and engineering. I also have analytical experience in helping companies make data-driven decisions.
    </p>
    <p>
      In my current role at <a href="https://pepperdata.com">Pepperdata</a>, I create data-visulization tools to optimize distributed cluster performance used for big data.
    </p>
    <a href="/">&#60; back</a>
  </div>
</div>
  <% include ../partials/footer.ejs %>
</body>
</html>
