<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs', {title: page}) %>
</head>

<body>
  <div class="text-center">
      <% let path = '../partials/' + page + '.ejs' %>
      <% if (pageStyle === 'center') { %>
        <div class="center-parent">
          <div class="center">
            <%- include(path) %>
          </div>
        </div>
      <% } else { %>
        <div class="container">
          <%- include(path) %>
        </div>
      <% } %>
  </div>
  <%- include('../partials/footer.ejs', {page: page}) %>
</body>
</html>
