<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="custom-header text-center">
  <div class="container">
    <h1>achhunna.com</h1>
  </div>
</div>

</body>
</html>
