<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="custom-header text-center">
  <div class="container">
    <h1>achhunna.com</h1>
    <div class="contact">
      <a href="https://github.com/achhunna">GitHub</a> |
      <a href="https://linkedin.com/in/achhunna">LinkedIn</a>
    </div>
  </div>
</div>
  <% include ../partials/footer.ejs %>
</body>
</html>
